

<!-- メインコンテンツ -->

    <h2 class="section-title">現在上映中の映画</h2>
    <div class="movies-grid">
      <% @movies.each do |movie| %>
        <div class="movie-card">
          <div class="movie-thumbnail">
            <%= image_tag "#{movie.thumbnail}.webp", class: "thumbnail" if movie.thumbnail.present? %>
          </div>
          <div class="movie-info">
            <h3 class="movie-title"><%= movie.name %></h3>
            <p class="movie-schedule">公開期間: <%= movie.schedule_start %> ~ <%= movie.schedule_end %></p>
            <p class="movie-details">上映時間: <%= movie.screening_time %>分 | 対象年齢: <%= movie.appropriate_age %>歳以上</p>
            <p class="movie-subtitle">字幕: <%= movie.subtitle ? 'あり' : 'なし' %></p>
            <a href="/movies/<%= movie.id %>" class="details-button">詳細を見る</a>
          </div>
        </div>
      <% end %>
    </div>


